---
layout: blank
years: ["2024", "2023", "2021", "2020", "2017"]
eleventyComputed:
  breadcrumbs:
    - href: https://kollektivavtal.github.io/
      text: 🏠
---

{% from "h1.njk" import h1 %}

{{ h1("Kollektivavtalsarkivet", "", "mb-12") }}

<section class="flex flex-col space-y-4">
  <h2 class="text-xl font-bold">År</h2>
  <ol class="flex flex-col space-y-4">
    {% for year in collections.years %}
      <li>
        <div class="flex flex-col">
          <a class="text-blue-600 underline" href="/{{ year.name }}">
            {{ year.name }}
          </a>
          <span class="max-w-full overflow-hidden text-sm text-gray-700">
            {{ year.agreementCount }} avtal
          </span>
        </div>
      </li>
    {% endfor %}
  </ol>
</section>
