---
years: ["2023", "2020"]
---

<!doctype html>
<html lang="sv">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" />
    <title>Kollektivavtal</title>
  </head>

  <body>

    <nav>
      <a href="/">
        Kollektivavtalsarkiv
      </a>
    </nav>

    <header>
      <h1>
        Kollektivavtalsarkiv
      </h1>
    </header>

    <ol>
      {% for year in years %}
        <li>
          <a href="/{{ year }}">
            {{ year }}
          </a>
        </li>
      {% endfor %}
    </ol>

  </body>
</html>
