body {
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  padding: 1rem;
}

header h1 {
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

header a[href="/"] {
  color: blue;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
