body {
  font-family: sans-serif;
  margin: 0;
}

nav[aria-label="Navigeringsfältet"] {
  display: flex;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  padding: 1rem;
}

nav[aria-label="Navigeringsfältet"] a[href] {
  color: blue;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

nav[aria-label="Brödsmulor"] {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  padding: 1rem;
}

nav[aria-label="Brödsmulor"] ol {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav[aria-label="Brödsmulor"] li::after {
  color: #cecece;
  content: "/";
  margin: 0 0.5rem;
}

nav[aria-label="Brödsmulor"] li:last-child::after {
  content: "";
}

nav[aria-label="Brödsmulor"] a[href] {
  color: blue;
}

nav[aria-label="Brödsmulor"] li:first-child a[href] {
  text-decoration: none;
}

header {
  padding: 1rem;
}

header h1 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  margin: 0 1rem;
  row-gap: 1rem;
}

table caption {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: min-width;
}