{% macro h1(text, subtext, classes) %}
  <h1 class="{{ classes }} flex flex-col text-2xl font-bold md:text-3xl">
    <span class="font-normal md:font-extralight"> {{ text }} </span>
    {% if subtext %}
      <span class="leading-1 align-top text-lg font-light text-slate-500">
        {{ subtext }}
      </span>
    {% endif %}
  </h1>
{% endmacro %}
