---
---

<!doctype html>
<html lang={{ language }}>

  <head>
    <meta charset="utf-8">
  </head>

  <body>

    <h1>
      kollektivavtal
    </h1>

    <ol>
      {% for agreement in collections.kollektivavtal %}
        <li>
          {{ agreement.data.name[language] }}
        </li>
      {% endfor %}
    </ol>

  </body>
</html>