<!doctype html>
<html lang="sv">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/tailwind.css' | url }}">
    <title>Kollektivavtalsarkivet</title>
  </head>

  <body class="font-sans">

    <div class="relative flex flex-col md:flex-row md:h-screen">

      <div class="
        bg-black text-white min-h-[50vh] flex items-center relative p-4 top-0 left-0 w-full
        text-center justify-center
        md:w-1/2 h-1/2 md:h-full md:fixed
        bg-[radial-gradient(circle_at_center_bottom,rgba(10,19,44,1)_0%,rgba(5,9,15,1)_80%)]
        md:bg-[radial-gradient(200%_200%_at_top_right,rgba(10,19,44,1)_0%,rgba(5,9,15,1)_62%)]
      ">
        {% block left %}
        {% endblock %}
      </div>

      <div class="relative w-full md:w-1/2 h-1/2 md:h-full p-4 md:ml-auto">
        {% block right %}
        {% endblock %}
      </div>

    </div>

  </body>
</html>